.content { 
    display: flex;
    width: 100%;
    gap: var(--space-4);
    padding: var(--space-4);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.loading-pill {
    height: 2.5rem;
    width: 10rem;
}