.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
    margin: var(--space-1) auto;
    width: 100%;
    min-height: 100%
}

.messages-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    gap: var(--space-4);
    padding: var(--space-4);
    width: 100%;
    overflow-y: auto;
}