.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: var(--space-3);
}



.count-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-wrap: wrap;
    gap: var(--space-3);
    padding: var(--space-3);
}

.filter-chip-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: var(--space-3);
    gap: var(--space-3);
    width: fit-content;
}