.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3) var(--space-1);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--space-4);
    padding: var(--space-3);
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
