.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
    width: 100%;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
    width: 100%;
    justify-content: space-between;
}

.m-right {
    margin-right: var(--space-2)
}

.color-cyan {
    color: var(--color-cyan)
}

.all-caps {
    text-transform: uppercase;
}

.text-left {
    width: 100%;
    text-align: left;
    font-size: var(--fs-xl);
    padding: var(--space-2);
}

.raise-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.raise-card:hover {
    transform: translateY(calc(-1*var(--space-2)));
    border-color: var(--broder-strong);
    box-shadow: var(--elevation-card)
}

.raise-card:active {
    transform: scale(0.95);
}

.flex-row {
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.menu-container {
    display: flex;
    flex-direction: column;
    background: var(--surface-2);
    padding: var(--space-5);
    border: 1px solid var(--border-default);
    border-radius: var(--radius-sm);
    z-index: 1000;
}

.menu-separator {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: var(--space-3);
    padding: var(--space-3);
}

.menu-item:hover {
    background: var(--fill-cyan-soft);
    padding: var(--space-3);
    border-radius: var(--radius-md)
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-2)
}