.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3);
    width: 100%;
    margin: 0 auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-1);
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-3);
    padding: var(--space-3);
    width: 100%;
}


.flex-row {
  display: flex;
  align-items: center;
  padding: var(--space-3);
  gap: var(--space-3);
}


.width-50 {
    width: 50%;
}

.width-33 {
    width: 33%
}

.width-80 {
    width: 80%;
}
