.palette-container {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    max-height: min(768px, calc(100vw - 32px));;
    gap: var(--space-1);
    padding: var(--space-1);
}

.full-height {
    width: 30%;
    height: 100%;
}