.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-3);
    padding: var(--space-3);
    overflow-y: auto;
}

.list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-2);
    padding: var(--space-2);
    overflow-y: scroll;
}