.page-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100%;
    padding: var(--space-3);
    transition: grid-template-columns 0.3s ease-in-out;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
    overflow-y: auto;
}

.centered {
    align-items: center;
    justify-content: center;
}

.text-centered {
    text-align: center;
}