.content-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: var(--space-8);
    margin: 0 auto;
    overflow-y: scroll;
}

.list-and-pulse-container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    gap: var(--space-6);
    padding: var(--space-5);
}